.search-box_label {
	font-weight: bold;
}
.is-hide {
	display: none;
}

label {
	display: inline-block;
	padding: 1em;
	border: 3px solid red;
	background-color: red;
}

.list {
	padding: 1em;
	background-color: pink;
}